/*公用的样式*/
/*css reset 开始*/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
ul, ol{
    list-style: none;
}
input{
    outline: none;
}
/*css reset 结束*/
body{
    background: #ffffff;
    font-size: 12px;
}
.wrap{
    width: 950px;
    margin: 0 auto;
    position: relative;
}
/*nav 开始*/
#nav{
    height: 84px;
}
#logo{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -17px;
}
#search-box{
    border: 1px solid #c3c3c3;
    height: 30px;
    position: absolute;
    left: 180px;
    top: 50%;
    margin-top: -15px;
}
#ipt-search{
    width: 240px;
    height: 20px;
    font-size: 13px;
    padding: 5px;
    border: 0;
    float: left;
}
#btn-search{
    width: 30px;
    height: 30px;
    border: 0;
    background: url("../img/btn_search_bg.png") no-repeat center center;
    float: left;
}
#nav-menu{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
}
#nav-menu li{
    float: left;
    margin-left: 17px;
}
#nav-menu a{
    display: block;
    width: 40px;
    height: 20px;
    background: url("../img/nav-menu.png") no-repeat;
    text-indent: -9999px;
}
#nav-menu .read{
    background-position: 0 0;
}
#nav-menu .movie{
    background-position: -60px 0;
}
#nav-menu .music{
    background-position: -120px 0;
}
#nav-menu .group{
    background-position: -180px 0;
}
#nav-menu .city{
    background-position: -240px 0;
}
#nav-menu .fm{
    background-position: -300px 0;
}
#nav-menu .time{
    background-position: -360px 0;
}
#nav-menu .market{
    background-position: -420px 0;
}
/*nav 结束*/

/*弹出层 开始*/
.mask{
    width: 100%;
    height: 100%;
    /*background: rgba(0,0,0,0.6);*/
    background: #000000;
    opacity: 0.6;
    filter: alpha(opacity:60);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.dialog{
    width: 400px;
    height: 300px;
    background: #fff;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -150px;
    display: none;
}
/*弹出层 结束*/























