#div1{
    background: #ff0000;
}
#div2{
    width: 300px;
    height: 300px;
    background: url("../img/1.jpg") no-repeat;
}

#div3{
    transform: translate(-50%,-50%);
    transition: all 1s ease;
    box-shadow: #00A5FF;
}