/*banner 开始*/
#banner{
    height: 178px;
    background: #edf4ed;
}
#banner .wrap{
    height: 100%;
    background-image: url("../img/banner_bg2.png"), url("../img/banner_bg.png");
    background-repeat: no-repeat;
    background-position: 50px -100px, 0 0;
    overflow: hidden;
}
#banner .app{
    width: 200px;
    margin-left: 480px;
    margin-top: 32px;
}
#banner .btn-download{
    display: inline-block;
    width: 142px;
    height: 30px;
    background: #00b51d;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
    margin-bottom: 7px;
}
#banner img{
    width: 28px;
    height: 28px;
    vertical-align: middle;
}
#banner .app h1{
    font-size: 25px;
    color: #111;
    margin: 7px auto;
}
#banner .app p{
    font-size: 12px;
    letter-spacing: 2px;
    color: #111;
    margin-bottom: 5px;
}
#banner .login-form{
    width: 272px;
    position: absolute;
    top: 32px;
    right: 0;
}
#banner .login-form p{
    border: 1px solid #DBE5DB;
    height: 32px;
    margin: 5px auto;
}
#banner .email, #banner .password{
    border: 0;
    width: 100%;
    height: 32px;
    text-indent: 7px;
}
#banner .password{
    width: 236px;
}
#banner .help{
}
/*#banner .login-form p:nth-child(3){
    background: #ffffff;
}*/
#banner .login-form .bg-fff{
    background: #ffffff;
}
#banner .login-form input[type=submit]{
    width: 134px;
    background: #2a8c70;
    border: 0;
    color: #fff;
    padding: 7px 0;
    border-radius: 2px;
}
/*banner 结束*/

























