/*公用的样式*/
/*css reset 开始*/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
ul, ol{
    list-style: none;
}
/*css reset 结束*/
body{
    background: #ffffff;
}
.wrap{
    width: 950px;
    background: #ffff00;
    margin: 0 auto;
}
/*nav 开始*/
#nav{
    height: 84px;
    background: #cccccc;
}
/*nav 结束*/