<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <!--<ul>-->
            <!--&lt;!&ndash;<li v-for="(val,index) in arr">&ndash;&gt;-->
                <!--&lt;!&ndash;{{val}},{{index+1}}&ndash;&gt;-->
                <!--&lt;!&ndash;<a href=""> {{val}}</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->


            <!--<li v-for="n in 10">-->
                <!--{{n}}-->
            <!--</li>-->
        <!--</ul>-->

        <template v-for="n in 3">
            <p>pppppp</p>
            <h1>hhhhhh</h1>
            <span>sssssss</span>
        </template>

    </div>
</body>
<script src="vue.js"></script>
<script>


    new Vue({
        el:'#app',
        data:{
            arr:[1,2,3]
        }
    })



</script>
</html>